In [2]:
import numpy as np
import pandas as pd
import datetime as dt
import os

In [3]:
cwd = os.getcwd()

In [4]:
print("Current working directory: ", cwd)

Current working directory:  c:\Users\Felipe\python_work\Projects\DA_hire_me_ps

In [6]:
df_scores = pd.read_csv('data/all_games.csv')

In [7]:
df_scores.head()

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

### Drop unnecessary columns

In [8]:
df_scores = df_scores.drop(columns='summary')

### Look for NaN values

In [9]:
df_scores.isna().sum()

name            0
platform        0
release_date    0
meta_score      0
user_review     0
dtype: int64

### Transform date with `astype()`

In [10]:
df_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18800 entries, 0 to 18799
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          18800 non-null  object
 1   platform      18800 non-null  object
 2   release_date  18800 non-null  object
 3   meta_score    18800 non-null  int64
 4   user_review   18800 non-null  object
dtypes: int64(1), object(4)
memory usage: 734.5+ KB

In [11]:
df_scores['release_date'] = df_scores['release_date'].astype('datetime64[ns]')

In [12]:
df_scores['release_date'] = pd.to_datetime(df_scores['release_date'], format='%Y')
df_scores['release_date'] = df_scores['release_date'].dt.year

Since some values are `tbd`, `User Review` is classified as a pandas object. Let's get rid of these values, since we cannot replace them.

In [13]:
df_scores = df_scores.drop(df_scores[df_scores['user_review'] == 'tbd'].index)

In [14]:
df_scores.head(10)

,name,platform,release_date,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,1998,99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,2000,98,7.4
2,Grand Theft Auto IV,PlayStation 3,2008,98,7.7
3,SoulCalibur,Dreamcast,1999,98,8.4
4,Grand Theft Auto IV,Xbox 360,2008,98,7.9
5,Super Mario Galaxy,Wii,2007,97,9.1
6,Super Mario Galaxy 2,Wii,2010,97,9.1
7,Red Dead Redemption 2,Xbox One,2018,97,8.0
8,Grand Theft Auto V,Xbox One,2014,97,7.9
9,Grand Theft Auto V,PlayStation 3,2013,97,8.3

Awesome! Now, we can convert the column to `float64`:

In [15]:
df_scores['user_review'] = df_scores['user_review'].astype('float64')

Alright, now let's get rid of some blank space in `platform` column:

In [16]:
df_scores['platform'] = df_scores['platform'].str.strip()

In [17]:
df_scores.head()

,name,platform,release_date,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,1998,99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,2000,98,7.4
2,Grand Theft Auto IV,PlayStation 3,2008,98,7.7
3,SoulCalibur,Dreamcast,1999,98,8.4
4,Grand Theft Auto IV,Xbox 360,2008,98,7.9

In [18]:
df_scores['release_date']

0        1998
1        2000
2        2008
3        1999
4        2008
         ...
18795    2013
18796    2003
18797    2015
18798    2012
18799    2009
Name: release_date, Length: 17435, dtype: int64

In [19]:
df_ratings = pd.read_csv('data/Video_games_esrb_rating.csv')

The `title` column seems to have an issue: some names are in all caps, some are not. Let's fix it with the `title()` funcion and with `pd.Series.str`:

In [32]:
df_ratings['title'] = df_ratings['title'].str.title()

In [33]:
df_ratings.head()

,title,console,alcohol_reference,animated_blood,blood,blood_and_gore,cartoon_violence,crude_humor,drug_reference,fantasy_violence,...,sexual_content,sexual_themes,simulated_gambling,strong_janguage,strong_sexual_content,suggestive_themes,use_of_alcohol,use_of_drugs_and_alcohol,violence,esrb_rating
0,Monster Jam Steel Titans 2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
1,Subnautica: Below Zero,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ET
2,Nier Replicant Ver.1.22474487139…,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,M
3,Jamestown+,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,ET
4,Neptunia Virtual Stars,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,T

In [34]:
df_ratings.isna().sum()

title                       0
console                     0
alcohol_reference           0
animated_blood              0
blood                       0
blood_and_gore              0
cartoon_violence            0
crude_humor                 0
drug_reference              0
fantasy_violence            0
intense_violence            0
language                    0
lyrics                      0
mature_humor                0
mild_blood                  0
mild_cartoon_violence       0
mild_fantasy_violence       0
mild_language               0
mild_lyrics                 0
mild_suggestive_themes      0
mild_violence               0
no_descriptors              0
nudity                      0
partial_nudity              0
sexual_content              0
sexual_themes               0
simulated_gambling          0
strong_janguage             0
strong_sexual_content       0
suggestive_themes           0
use_of_alcohol              0
use_of_drugs_and_alcohol    0
violence                    0
esrb_rating                 0
dtype: int64

## Export to SQL with `psycopg` and `sqlalchemy`

Let's make sure that column names are in lowercase:

In [35]:
df_scores = df_scores.rename(columns=str.lower)

In [36]:
df_ratings = df_ratings.rename(columns=str.lower)

Import modules and create engine that will establish connection with postgre:

In [37]:
import psycopg2
from sqlalchemy import create_engine

In [38]:
engine = create_engine('postgresql://postgres:guest@localhost:5432/ps_games')

Export csv files to previously created database:

In [39]:
df_scores.to_sql('data/all_games.csv', engine, index=False)

435

In [40]:
df_ratings.to_sql('data/Video_games_esrb_rating.csv', engine, index=False)

895

In [41]:
df_scores.head()

,name,platform,release_date,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,1998,99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,2000,98,7.4
2,Grand Theft Auto IV,PlayStation 3,2008,98,7.7
3,SoulCalibur,Dreamcast,1999,98,8.4
4,Grand Theft Auto IV,Xbox 360,2008,98,7.9